<form>
  <mat-form-field>
    <input
      matInput
      type="number"
      min="0"
      placeholder="Longitud de onda (metros)"
      [(ngModel)]="waveLength"
      name="wlength"
    />
  </mat-form-field>
</form>

Ingrese los ángulos para los cuales desea hallar el aumento en la longitud de
onda.

<form>
  <mat-form-field>
    <input
      matInput
      type="number"
      min="0"
      max="360"
      placeholder="Ángulo (en grados)"
      [(ngModel)]="newAngle"
      name="nangle"
    /><button
      mat-icon-button
      (click)="add()"
      matTooltip="Añadir el nuevo ángulo"
      matSuffix
    >
      <mat-icon svgIcon="add"></mat-icon>
    </button>
  </mat-form-field>
</form>

<mat-list>
  <div @fadeInOut *ngFor="let angle of angles; let i = index; let c = count">
    <mat-list-item>
      {{ angle }}
      <button
        mat-button
        mat-icon-button
        matSuffix
        (click)="remove(angle)"
        matTooltip="Remover ángulo"
      >
        <mat-icon svgIcon="remove"></mat-icon>
      </button>
    </mat-list-item>
    <mat-divider *ngIf="c - 1 > i"></mat-divider>
  </div>
</mat-list>

<button
  mat-icon-button
  mat-raised-button
  color="primary"
  (click)="graph()"
  matTooltip="Graficar ángulo vs longitud de onda"
>
  <mat-icon svgIcon="navigate_next"></mat-icon>
</button>
